@import url("https://fonts.googleapis.com/css2?family=poppins&display=swap");

body {
  font-family: "poppins", sans-serif;
  background-image: url("https://t3.ftcdn.net/jpg/02/50/08/68/360_F_250086872_srlXRqANYR2IbNfIylRDc3eMO9MinjnV.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  top: 0px;
  display: flex;
  color: white;
  width: 50%;
  margin-left: 40%;
  justify-content: space-between;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #0f0f0f, 1px -1px 0 #131313, -1px 1px 0 #0d0d0d,
    1px 1px 0 #0b0b0b;
}

hr {
  position: relative;
  margin-top: 35%;
  width: 90%;
  transform: translate(0px, 60px);
}

h2 {
  position: absolute;
  top: 20%;
  left: 3%;
  color: rgb(10, 11, 11);
  font-size: 70px;
  font-weight: bold;
  animation: slideIn 0.4s ease forwards;
}

.para {
  position: absolute;
  top: 45%;
  left: 3%;
  font-size: 20px;
  font-family: cursive;
}

#inbox {
  margin-top: 100px;
}

.sat {
  border-radius: 5%;
  justify-content: space-around;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(
    106deg,
    rgb(22, 116, 204),
    rgb(255, 201, 49)
  );
  display: flex;
  float: left;
  margin-left: 10px;
  height: 170px;
  width: 100px;
  border: solid white;
}

.sun {
  border-radius: 5%;
  color: white;
  justify-content: space-around;
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(
    106deg,
    rgb(22, 116, 204),
    rgb(255, 201, 49)
  );
  display: flex;
  float: left;
  margin-left: 40px;
  height: 170px;
  width: 100px;
  border: solid white;
}

.mon {
  border-radius: 5%;
  justify-content: space-around;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(
    106deg,
    rgb(22, 116, 204),
    rgb(255, 201, 49)
  );
  display: flex;
  float: right;
  margin-right: 10px;
  margin-bottom: 500px;
  height: 170px;
  width: 100px;
  border: solid white;
}

#sat-img,
#sun-img,
#mon-img {
  position: absolute;
  top: 75%;
  height: 50px;
  width: 50px;
}

.deg1 {
  position: absolute;
  top: 80%;
  height: 20px;
  width: 20px;
}

#rain {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 5%;
  left: 5%;
}

.location {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.deg {
  position: absolute;
  left: 79%;
  top: 8%;
  font-weight: bold;
}

span {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#sunrise {
  position: absolute;
  top: 26%;
  left: 5%;
  height: 50px;
  width: 50px;
}

.a {
  position: absolute;
  text-align: left;
  font-family: cursive;
  top: 23%;
  left: 20%;
  font-weight: bold;
  font-size: 20px;
}

#humidity {
  position: absolute;
  top: 42%;
  left: 5%;
  height: 50px;
  width: 50px;
}

.b {
  position: absolute;
  text-align: left;
  font-family: cursive;
  top: 38%;
  left: 20%;
  font-weight: bold;
  font-size: 20px;
}

#wind {
  position: absolute;
  top: 42%;
  left: 55%;
  height: 50px;
  width: 50px;
}

.c {
  position: absolute;
  text-align: right;
  top: 23%;
  left: 70%;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
}
#sunset {
  position: absolute;
  top: 27%;
  left: 55%;
  height: 50px;
  width: 50px;
}

.d {
  position: absolute;
  text-align: right;
  font-family: cursive;
  top: 38%;
  left: 70%;
  font-weight: bold;
  font-size: 20px;
}

.box {
  display: block;
  position: relative;
  box-shadow: 5px 20px 15px 5px rgba(0, 0, 0, 0.5);
  left: 60%;
  margin-top: 5%;
  border-radius: 2%;
  height: 570px;
  width: 400px;
  background-color: rgb(250, 248, 248);
  border: solid rgb(99, 98, 98);
  animation: slideFromRight 5s linear infinite;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

/* ....................................  ABOUT PAGE STYLING ........................................... */
.about_main_box {
  background-image: url("https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff6ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about__textArea {
  margin-bottom: 30px;
}

.about__mainHeading {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.about__mainPara {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  text-align: center;
}

.about__imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__imageBox {
  flex: 0 0 calc(33.333% - 20px);
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  /* background-color: #eff6ff; */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(110, 109, 109, 0.1);
  transition: transform 0.5 s ease-in-out;
}

.about__imageBox:hover {
  transform: scale(1.05);
  border: 1px solid #94a3b8;
}

.about__imageBox img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid;
  padding: 5px;
}

.about__innerHead {
  margin-bottom: 10px;
}

.about__innerPara {
  font-size: 16px;
  color: #334155;
}

/* ............................... ABOUT PAGE STYLING DONE ....................................... */

@media only screen and (max-width: 767px) {
  body {
    background-image: url("https://t3.ftcdn.net/jpg/02/50/08/68/360_F_250086872_srlXRqANYR2IbNfIylRDc3eMO9MinjnV.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  nav {
    position: fixed;
    top: 0px;
    display: flex;
    color: white;
    width: 50%;
    margin-left: 20%;
    justify-content: space-between;
    text-align: center;
  }

  h2,
  .para {
    position: relative;
    justify-content: center;
    text-align: center;
  }

  .box {
    display: block;
    position: relative;
    justify-content: center;
    box-shadow: 5px 20px 15px 5px rgba(0, 0, 0, 0.5);
    left: 20%;
    margin-top: 20%;
    border-radius: 2%;
    height: 570px;
    width: 400px;
    background-color: rgb(250, 248, 248);
    border: solid rgb(99, 98, 98);
    animation: none;
  }
} /* Preloader CSS here */
#loading {
  background: #fff url(./assets/SunPreloadergif.gif) no-repeat center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  /* Decrease or increase animation duration as needed */
  animation: spin 5s linear infinite; /* Adjust the duration here */
  /* Hide the preloader when animation ends */
  /* animation-fill-mode: forwards;
    animation-delay: 4s; Adjust the delay here */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Search weather data css here */
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#weatherData {
  margin-top: 20px;
}

/* .............................. MEDIA QUERY FOR ABOUT SECTION ...................................... */

@media only screen and (max-width: 600px) {
  .about__container {
    /* border: 2px solid; */
    max-width: 80%;
  }

  .about__textArea {
    margin-bottom: 20px;
  }

  .about__mainHeading {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .about__mainPara {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }

  .about__imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__imageBox {
    flex: 0 0 calc(50% - 20px);
    /* border: 2px solid; */
    margin-bottom: 20px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .about__imageBox img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .about__innerHead {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about__innerPara {
    font-size: 14px;
    color: #777;
  }
}

/* .............................MEDIA QUERY DONE FOR ABOUT SECTION ..................................... */
  
  .footer-area {
    /* margin-top: 250px; */
    padding-top: 50px;
    background-image: linear-gradient(106deg, rgb(22, 116, 204), rgb(255, 201, 49));
    color: #fff;
    position: relative;
  }
  
  
  .main {
    width: 100%; 
    /* max-width: 1200px;  */
    padding: 0 100px; 
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .single-footer {
    width: calc(100% / 3); /* Adjust for smaller screens */
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .single-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 80px;
  }
  
  .single-footer ul {
    list-style: none;
    margin-left: 90px;
  }
  
  .single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
  }
  
  .single-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
  }
  
  .single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .single-footer:first-child {
    width: 100%; /* Full width for the first item on smaller screens */
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .footer-social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .copy {
    background-image: linear-gradient(106deg, rgb(22, 116, 204), rgb(255, 201, 49));
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding: 20px 0; /* Adjust padding for smaller screens */
  }
  
  .f {
    font-size: 19px;
  }
  
  .f:hover {
    color: orange;
  }
  
  a {
    transition: 0.8s;
    overflow: hidden;
  }
  
  .single-footer h4 {
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .single-footer:hover h4 {
    color: orange;
    transform: translateY(-1px);
  }
  
  a:hover {
    background-color: orange;
  }
  
  .ocean {
    height: 70px;
    width: 100%;
    position: fixed;
    /* bottom: 90px; */
    top:50%;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  @keyframes wave {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
   
  /* Media Queries for responsiveness */
  
  /* For tablets */
  @media only screen and (max-width: 1024px) {
    .main {
      padding: 0 15px;
    }
  
    .single-footer {
      width: calc(90%); /* Two items per row on tablets */
    }
    .ocean {
      position: fixed;
      bottom: 0;
    }
    
  
    
  }
  
  /* For phones and smaller tablets */
  @media only screen and (max-width: 768px) {
    .main {
      padding: 0 10px; /* Adjust padding for smaller screens */
    }
    .single-footer {
      width: 100%; /* Single item per row on small devices */
    }
    .footer-area {
      margin-top: 100px; /* Adjust margin-top for smaller screens */
    }
    .ocean {
      position: fixed;
      bottom: 0;
    }
  
  }
  
  /* Ensure the wave element stays at the bottom */
  @media screen and (max-height: 600px) {
    .ocean {
      position: fixed;
      bottom: 0;
    }
  }
  
