@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Open Sans',Arial;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
nav ul li img {
    border-radius: 50%;
    height: 40px;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 1.5rem;
    margin: 0px;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url(./assets/BgImage.jpg);
}

.logo {
    height: 3rem;
    cursor: pointer;
}

.list-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 10px;
}

.list-item a {
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.list-item a:hover {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.burger-menu {
    display: none;
}

.main-content {
    text-align: center;
    margin-top: 25vh;
}

.main-content h1 {
    color: #fff;
    font-size: 3.5rem;
}

@media screen and (max-width: 768px) {

    .list-item a {
        /* color: white; */
        font-size: 1.5rem;
    }

    .logo {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 578px) {

    .list-item a {
        color: white;
        font-size: 1.5rem;
    }

    .list-nav-bar.active {
        right: 0;
    }

    .list-nav-bar {
        display: flex;
        position: fixed;
        right: -100%;
        top: 60px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        flex-direction: column;
        transition: 0.7s;
        gap: 18px;
        border-radius: 0 0 10px 10px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }
}

/* ======================= */
/* main style here */
.main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-image: url(./assets/weatherBgImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.para {
    width: 50%;
    line-height: 1.5;
}

.para p {
    font-size: 1.5rem;
}

.Search {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Search input {
    border: none;
    border-radius: 10px;
    height: 3rem;
    font-size: 1rem;
    width: 80%;
    padding: 10px;
}

.Search button {
    height: 3rem;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    background-image: linear-gradient(106deg, rgb(94, 166, 233), rgb(236, 215, 154));
    width: 20%; 
}

.Getdatacards {
    height: auto;
    width: 25vw;
    border: 2px solid rgb(215, 241, 215);
    border-radius: 16px;
    background-color: white;
}

.DayDummyData {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
}

.Days {
    height: 25vh;
    width: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(106deg, rgb(94, 166, 233), rgb(236, 215, 154));
    border-radius: 16px;
    line-height: 3;
}

.Days img {
    height: 50px;
}

.Days p {
    color: white;
    font-weight: bolder;
}

.fa-solid,
.fas {
    font-size: 40px;
    color: rgb(238, 196, 70);
}

.GetSearchData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Getdatacards .SectionFiest {
    margin-top: 0px;
}

.middileSection {
    display: flex;
    gap: 16px;
}

.middileSection p:nth-child(2) {
    font-size: 14px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
    .Getdatacards {
        margin-top: 3rem;
        width: 100%;
        padding: 1rem;
    }
    .para p{
        font-size: 1.2rem;
    }
    .Days{
        width: 26%;
    }
    .ocean{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .icon-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    .list-nav-bar a{
        font-size: 0.9rem;
    }
    .main {
        height: 160vh;
        background-size:cover; 
        /* flex-direction: column; */
    }
    .para {
        margin-top: 5rem;
        width: 90%;
        /* text-align: center; */
    }

    .Search input {
        width: 80%;
    }

    .Search button {
        width: 20%;
    }

    .Getdatacards {
        width: 100%;
        padding: 1rem;
        margin-bottom: 5rem;
    }
    .Days{
        width: 25%;
    }
    
}

@media screen and (max-width: 480px) {
    .main {
        background-size: auto; 
    }
    .para {
        width: 100%;
    }
    .para p{
        font-size: 1rem;
    }

    .Search input {
        width: 100%;
    }

    .Search button {
        width: 100%;
    }

    .Getdatacards {
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    .Search input {
        width: 70%;
        font-size: 1rem;
    }

    .Search button {
        width: 30%;
    }
    #search-input::placeholder {
        font-size: 10px; 
    }
    .main {
        background-size: cover; 
    }
    .Getdatacards {
        margin-bottom: 5rem;
    }
    .Days{
        width: 25%;
    }
    .ocean {
        display: none;
    }
}
@media screen and (max-width: 375px){
    .nav-bar{
        width: 100%;
    }
    .Search input {
        height: 2.5rem;
    }
    .Search button {
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Days{
        width: 25%;
    }
    
    .ocean {
        display: none;
    }
    .list-nav-bar:hover{
        /* background-color: white; */
        color: black;
    }
}
@media screen and (max-width: 320px){
    .nav-bar{
        width: 94%;
    }
    .Getdatacards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 88%;
        margin-left: 22px;
        margin-bottom: 19rem;
        height: auto;
    }
    .Days{
        width: auto;
        height: 23vh;
    }
    
}

/* ================================== */
/* About Oer Team style here */
.about_main_box {
    background-image: url("https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.about__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eff6ff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about__textArea {
    margin-bottom: 30px;
}

.about__mainHeading {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.about__mainPara {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.about__imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__imageBox {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(110, 109, 109, 0.1);
    transition: transform 0.5 s ease-in-out;
}

.about__imageBox:hover {
    transform: scale(1.05);
    border: 1px solid #94a3b8;
}

.about__imageBox img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid;
    padding: 5px;
}

.about__innerHead {
    margin-bottom: 10px;
}

.about__innerPara {
    font-size: 16px;
    color: #334155;
}

/* Media Queries  for about section*/
@media only screen and (min-width: 200px) and (max-width: 500px) {
    .about__imageBox {
        flex: 0 0 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .about__imageBox {
        flex: 0 0 calc(50% - 20px);
    }
}

/* ====================================== */
/* footer style here */
.footer-area {
    background-image: linear-gradient(106deg, rgb(94, 166, 233), rgb(236, 215, 154));
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.AboutSectionInformation h1 {
    margin-bottom: 1rem;
}

.AboutSectionInformation p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social .round {
    border: 3px solid black;
}

.footer-social i {
    font-size: 32px;
    text-align: center;
}

.AboutSextion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 32px;
}

/* Copy Write Section style here */
.copy {
    background-color: black;
    opacity: 0.7;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding: 20px 0;
}

.copy p:nth-child(1) {
    font-size: 1.3rem;
    color: #cbcdce;
}

.copy p:nth-child(2) {
    font-size: 1.3rem;
    margin-top: 10px;
    color: #cbcdce;
}

.ocean {
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Media Queries for responsiveness */
/* For tablets */
@media only screen and (max-width: 1024px) {
    .main {
        padding: 0 15px;
    }

    .single-footer {
        width: calc(90%);
    }

    .ocean {
        position: fixed;
        bottom: 0;
    }
}

/* For phones and smaller tablets */
@media only screen and (max-width: 768px) {
    .main {
        padding: 0 10px;
    }

    .single-footer {
        width: 100%;
    }

    .footer-area {
        margin-top: 100px;
    }

    .ocean {
        position: fixed;
        bottom: 0;
    }
}

/* Ensure the wave element stays at the bottom */
@media screen and (max-height: 600px) {
    .ocean {
        position: fixed;
        bottom: 0;
    }
}