/* Preloader CSS here */
#loading {
    background: #fff url(./assets/SunPreloadergif.gif) no-repeat center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    /* Decrease or increase animation duration as needed */
    animation: spin 5s linear infinite; /* Adjust the duration here */
    /* Hide the preloader when animation ends */
    /* animation-fill-mode: forwards;
    animation-delay: 4s; Adjust the delay here */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Search weather data css here */
.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherData {
    margin-top: 20px;
}
