/* Preloader CSS here */
#loading {
    background: #fff url(./Image/SunPreloadergif.gif) no-repeat center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    /* Decrease or increase animation duration as needed */
    animation: spin 5s linear infinite; /* Adjust the duration here */
    /* Hide the preloader when animation ends */
    /* animation-fill-mode: forwards;
    animation-delay: 4s; Adjust the delay here */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}