* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================== */
/* navbar style herre */
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  height: 3.5rem;
  background-image: url(./assets/BgImage.jpg);
}

.logo {
  border-radius: 1rem;
  height: 3rem;
}
.logoSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
  /* border-radius: 15px; */
}
.bgColor{
  padding: 8px;
  /* background-color:white; */
}

nav ul li a {
  font-size: 1.2rem;
  word-wrap: break-word;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.bgColor:hover {
  background-color: white;
  /* color: black; */
  padding: 8px;
  border-radius: 10px;    
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li img{
  border-radius: 50%;
  height: 40px;
}

/* ======================= */
/* main style here */
.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-image: url(./assets/weatherBgImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.para {
  width: 50%;
  line-height: 1.5;
}
.para p{
  font-size: 1.4rem;
}

/* search input box and button */
.Search{
  margin-top: 16px;
}

.Search input{
  border: none;
  border-radius: 10px;
  height: 3rem;
  font-size: 1rem;
  width: 70%;
  padding: 10px;
}
.Search button{
  height: 3rem;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  background-image : linear-gradient(106deg,  rgb(94, 166, 233),rgb(236, 215, 154))
}

/*  search card style here*/
.Getdatacards{
  height: 70vh;
  width: 25vw;
  border: 2px solid rgb(215, 241, 215);
  border-radius: 16px;
  background-color: white;
}
.DayDummyData{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}
.Days{
  height: 25vh;
  width: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image : linear-gradient(106deg, rgb(94, 166, 233),rgb(236, 215, 154));
  border-radius: 16px;
  line-height: 3;
}
.Days img{
  height: 50px;
}
.Days p{
  color: white;
  font-weight: bolder;
}

.fa-solid,
.fas{
  font-size: 40px;
  color: rgb(238, 196, 70)
}
.GetSearchData{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.Getdatacards .SectionFiest{
  margin-top: 0px;
}
.middileSection{
  display: flex;
  gap: 16px;
}
.middileSection p:nth-child(2){
  font-size: 14px;
}

@media only screen and (max-width: 767px) {

  nav {
      position: fixed;
      top: 0px;
      display: flex;
      color: white;
      width: 50%;
      margin-left: 20%;
      justify-content: space-between;
      text-align: center;
  }

  h2,
  .para {
      position: relative;
      justify-content: center;
      text-align: center;
  }
}

/* ================================== */
/* About Oer Team style here */
.about_main_box {
  background-image: url("https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.about__textArea {
  margin-bottom: 30px;

}

.about__mainHeading {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.about__mainPara {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #0e0d0d;
  text-align: center;
}

.about__imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.about__imageBox {
  flex: 0 0 calc(33.333% - 20px);
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: #eff6ff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(110, 109, 109, 0.1);
  transition: transform 0.5 s ease-in-out;
}

.about__imageBox:hover {
  transform: scale(1.05);
  border: 1px solid #94a3b8;
}

.about__imageBox img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid;
  padding: 5px;
}

.about__innerHead {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about__innerPara {
  font-size: 1.3rem;
  color: #334155;
}
/* ..............  Media Query ................. */

@media only screen and (max-width: 600px) {

  .about__container {
      max-width: 80%;
  }

  .about__textArea {
      margin-bottom: 20px;
  }

  .about__mainHeading {
      font-size: 2rem;
      margin-bottom: 10px;
  }

  .about__mainPara {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
  }

  .about__imageContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .about__imageBox {
      flex: 0 0 calc(50% - 20px);
      margin-bottom: 20px;
      text-align: center;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .about__imageBox img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
  }

  .about__innerHead {
      font-size: 18px;
      margin-bottom: 10px;
  }

  .about__innerPara {
      font-size: 14px;
      color: #777;
  }
}

/* ====================================== */
/* footer style here */
.footer-area {
  background-image: linear-gradient(106deg,rgb(94, 166, 233),rgb(236, 215, 154));
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.AboutSectionInformation h1 {
  margin-bottom: 1rem;
}
.AboutSectionInformation p{
  font-size: 1.5rem;
  line-height: 1.5;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-social .round{
  border: 3px solid black;
}
.footer-social i{
  font-size: 32px;
  text-align: center;
}
.AboutSextion{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 64px;
  padding: 32px;
}

/* Copy Write Section style here */
.copy {
  background-color: black;
  opacity: 0.7;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 20px 0;
}
.copy p:nth-child(1){
  font-size: 1.3rem;
  color: #cbcdce;
}
.copy p:nth-child(2){
  font-size: 1.3rem;
  margin-top: 10px;
  color: #cbcdce;
}

.ocean {
  height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-50%);
  }
}

/* Media Queries for responsiveness */
/* For tablets */
@media only screen and (max-width: 1024px) {
  .main {
      padding: 0 15px;
  }

  .single-footer {
      width: calc(90%);
  }

  .ocean {
      position: fixed;
      bottom: 0;
  }
}

/* For phones and smaller tablets */
@media only screen and (max-width: 768px) {
  .main {
      padding: 0 10px;
  }

  .single-footer {
      width: 100%;
  }

  .footer-area {
      margin-top: 100px;
  }

  .ocean {
      position: fixed;
      bottom: 0;
  }
}

/* Ensure the wave element stays at the bottom */
@media screen and (max-height: 600px) {
  .ocean {
      position: fixed;
      bottom: 0;
  }
}